{% extends "BtwAppBundle::layout.html.twig" %}

{% block title %}Bundestagswahl {{ year }}{% endblock %}

{% block content %}

    <div class="visible-md visible-lg" style="height: 100px"></div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Elektronische Wahl {{ year }}</h1>

            <p class="lead">
                Willkommen beim elektronischen Stimmzettel zur Wahl {{ year }}.
                Bitte geben Sie zunächst Ihren persönlichen Wahlschlüssel ein,
                den Sie bei der Anmeldung erhalten haben:
            </p>

            {{ form(form) }}
        </div>
    </div>

    <div class="visible-md visible-lg" style="height: 100px"></div>

{% endblock %}
