{% extends "BtwAppBundle::layout.html.twig" %}

{% block title %}Wahllokal-Login{% endblock %}

{% block content %}

    <div class="flash-error alert alert-success" style="text-align: center;">
        Der W채hler wurde erfolgreich angelegt!
    </div>

    <div class="visible-md visible-lg" style="height: 18px"></div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Wahlschl체ssel</h1>

<p>Bitte drucken Sie diese Seite f체r den W채hler aus.</p>
            <div class="panel" style="border-color: #cccccc; text-align: center; padding: 15px; font-weight: bold; font-size: 25px; margin-top: 20px;">
                {{ hash }}
            </div>
        </div>
    </div>

    <div class="visible-md visible-lg" style="height: 100px"></div>

{% endblock %}
