{% extends "BtwAppBundle::layout.html.twig" %}

{% block title %}Wahllokal-Login{% endblock %}

{% block content %}

    <div class="flash-error alert alert-success" style="text-align: center;">
        Der Wähler wurde erfolgreich angelegt!
    </div>

    <div class="visible-md visible-lg" style="height: 18px"></div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Wahlschlüssel</h1>

<p>Bitte drucken Sie diese Seite für den Wähler aus.</p>
            <div class="panel" style="border-color: #cccccc; text-align: center; padding: 15px; font-weight: bold; font-size: 25px; margin-top: 20px;">
                {{ hash }}
            </div>
        </div>
    </div>

    <div style="text-align: right; margin-top: 15px;">
        <a href="{{ path('btw_app_location_create', {'constituencyId': app.session.get('constituencyId')}) }}">&rarr; Neuen Wähler anlegen</a>
    </div>
    <div class="visible-md visible-lg" style="height: 100px"></div>

{% endblock %}
