{% extends "BtwAppBundle::layout.html.twig" %}

{% block title %}Bundestagswahl {{ year }}{% endblock %}

{% block content %}

    <h1>Bundestagswahl {{ year }} &ndash; Details</h1>

    <div class="row" ng-app="btw" ng-controller="DetailsController" ng-init="year = {{ year }}">
        <div class="col-md-8">
            <div id="chart" class="btw-chart" btw-chart="chart"></div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="details-state">Bundesland</label>
                <select id="details-state" class="form-control" ng-model="state" ng-options="s.id as s.name for s in states"></select>
            </div>
            <div class="form-group">
                <label for="details-constituency">Wahlkreis</label>
                <select id="details-constituency" class="form-control" ng-model="constituency" ng-options="c.id as c.name for c in constituencies"></select>
            </div>
        </div>

        <div class="btw-loading" ng-show="loading"></div>
    </div>

{% endblock %}
