{% extends "BtwAppBundle::layout.html.twig" %}

{% block title %}Bundestagswahl {{ app.request.get('year') }}{% endblock %}

{% block content %}

    <form method="post" action="">
        <label for="select_state">State</label>
        <select id="select_state">
            <option value="-1">Choose a state</option>
        </select><br/>
        <label for="select_constituency">Constituency</label>
        <select id="select_constituency">
            <option value="-1">Choose a constituency</option>
        </select>
{% endblock %}



{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: Routing.generate('btw_app_ajax_states', { 'year': {{ app.request.get('year') }} }),
                success: function (data) {
                    var states = JSON.parse(data);

                    var stateSelect = $('#select_state');

                    $.each(states, function (index, value) {
                        stateSelect.append(
                                $('<option></option>').val(value['id']).html(value['name'])
                        );
                    });
                }
            });


            $('#select_state').change(function () {
                $.ajax({
                    type: "GET",
                    url: Routing.generate('btw_app_ajax_constituencies', { 'stateId': $(this).val() }),
                    success: function (data) {
                        var constituencies = JSON.parse(data);

                        var constituencySelect = $('#select_constituency');
                        constituencySelect.children('option:not(:first)').remove();

                        $.each(constituencies, function (index, value) {
                            constituencySelect.append(
                                    $('<option></option>').val(value['id']).html(value['name'])
                            );
                        });
                        getResults($('#select_state').val(), $('#select_constituency').val());
                    }
                });

            });

            $('#select_constituency').change(function () {
                getResults($('#select_state').val(), $('#select_constituency').val());
            });

            getResults(0, 0);
        });



        function getResults(stateId, constituencyId) {
            $.ajax({
                type: "GET",
                url: Routing.generate('btw_app_ajax_results', { 'year': {{ app.request.get('year') }},'stateId': stateId, 'constituencyId': constituencyId }),
                success: function (data) {
                    console.log(data);
                }
            });
        }

        </script>
{% endblock %}