# Composer
composer.lock
vendor/

# PhpStorm
.idea/

# OS specific
*.vpp~*
*.DS_STORE

/misc/LineCounter/LineCounter/bin
/misc/LineCounter/LineCounter/obj
/misc/LineCounter/LineCounter/LineCounter.csproj.user
